# Logs
logs
*.log
npm-debug.log*

node_modules
.output
stats.html
stats-*.json
test-results/
playwright-report/
.wxt
web-ext.config.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.iml
*.ntvs*
*.njsproj
*.sln
*.sw?
