.buttonList > .btn {
  margin-top: 0.75rem;
}

.grade {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 50%;
  background-color: #f00;
  font-size: 1.25rem;
  line-height: 22px;
}

.grade.A {
  background-color: #349a47;
  color: #fff;
}

.grade.B {
  background-color: #51b84b;
  color: #fff;
}

.grade.C {
  background-color: #cadb2a;
}

.grade.D {
  background-color: #f6eb15;
}

.grade.E {
  background-color: #fecd06;
}

.grade.F {
  background-color: #f99839;
  color: #fff;
}

.grade.G {
  background-color: #ed2124;
  color: #fff;
}

.bestPracticeDetail {
  border: 1px solid rgb(8, 226, 73);
}

.bestPracticeDetailComment {
  border: 1px solid rgb(226, 8, 8);
}

th,
td {
  border: 1px solid white;
  overflow: hidden;
  padding: 2.2pt;
  text-overflow: ellipsis;
  text-align: left;
}

.center-td {
  text-align: center;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  margin: auto;
}

.bestPraticesTable {
  width: 100%;
}

.bestPracticeLink {
  color: black;
}

.detailCommentLink {
  color: rgb(3, 3, 3);
  background-color: #f6eb15;
  background-color: rgb(219, 221, 223);
  font-size: 0.875rem;
  line-height: 5px;
}

.line {
  margin: auto;
  color: rgba(0, 0, 0, 0);
  line-height: 1px;
  background-color: rgb(216, 221, 215);
  margin-top: 1px;
  margin-bottom: 10px;
}
